@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: var(--font-dm-sans);
}

a {
    text-decoration: none;
}